SDK_2_10_0_EVK-MCIMX7ULP/*
!images/fsl-image-machine-test-imx7ulpevk.wic.bz2
images/
documentation/BSP/Linux/*
!documentation/BSP/Linux/L2.6.31_10.05.02_ER_docs.tar.gz
src/armgcc/CMakeFiles
src/armgcc/debug
src/pin_mux.c
.vscode/.cortex-debug.registers.state.json
.vscode/.cortex-debug.peripherals.state.json
stm32nucleo/spi/build/*
.vscode/c_cpp_properties.json
wip.md
.vscode/.markdownlint.json
imx7a7/main.o
imx7a7/fpga2wifi_bin
imx7a7/src/oe-workdir
imx7a7/src/oe-logs
.gitignore
imx7a7/oe-workdir
imx7a7/oe-logs
